@using MvcTut.Models
@model IEnumerable<Employee>

@{
    ViewBag.Title = "Employee List";
}
<style>
    li:hover {
        background: red;


    }
    ul {
        text-decoration: none
    }
    li {
        margin: 10px;
        text-decoration: none;
        background:greenyellow;
        width: max-content;
        
    }
</style>
<div style="font-family: arial">
    <h2>Employee List</h2>

    <ul>
        @foreach (Employee emp in @Model)
        {
            <li>
                @Html.ActionLink(emp.Name, "Details", new { id = emp.EmployeeId })
            </li>
        }
        
    </ul>
</div>

